<form [ngFormModel]="form" (ngSubmit)="changePassword()">
  <div class="form-group">
    <label for="oldpassword">Current Password *</label>
    <input id="oldpassword"
           type="password"
           class="form-control"
           ngControl="oldpassword"
           #oldpassword="ngForm">
    <div class="alert alert-danger"
         *ngIf="oldpassword.touched && oldpassword.errors">
      {{ oldpassword.errors | json }}
      <div *ngIf="oldpassword.errors.required">
        Current password is required.
      </div>
      <div *ngIf="oldpassword.errors.passwordMatch">
        Old password is invalid.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="newpassword1">New Password *</label>
    <input id="newpassword1"
           type="password"
           class="form-control"
           ngControl="newpassword1"
           #newpassword1="ngForm">
    <div class="alert alert-danger"
         *ngIf="newpassword1.touched && newpassword1.errors">
      {{ newpassword1.errors | json }}
      <div *ngIf="newpassword1.errors.required">
        New password is required.
      </div>
      <div *ngIf="newpassword1.errors.minimumLength">
        New password must be at least {{ newpassword1.errors.minimumLength.requiredLength }} characters.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="newpassword2">Repeat New Password *</label>
    <input id="newpassword2"
           type="password"
           class="form-control"
           ngControl="newpassword2"
           #newpassword2="ngForm">
    <div class="alert alert-danger"
         *ngIf="newpassword2.touched && newpassword2.errors">
      {{ newpassword2.errors | json }}
      <div *ngIf="newpassword2.errors.required">
        Password confirmation is required.
      </div>
    </div>
    <div class="alert alert-danger"
         *ngIf="form.errors">
      <div *ngIf="form.errors.passwordsMatch">
        Password and password confirmation must match.
      </div>
    </div>
  </div>
  <button class="btn btn-primary"
          [disabled]="!form.valid">
    Change Password
  </button>
</form>